#root {
  background: #e8e8e8;
  height: 100%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row; 
  justify-content: center;
  
}

.todo {
  display: flex;
  flex-direction: row;  
  background: #fff;
  justify-content: space-between;
  font-size: 12px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  margin-bottom: 6px;
  padding: 3px 10px;
}

.todo-list {
  flex-direction: column;  
  align-items: center;
  flex-grow: .33;
  border-radius: 4px;
  padding: 5px;
}